<h2><%= listTitle %></h2>
<ul>
    <% genericList.forEach((item, index) => { %>
        <li><%=item%></li>    
    <%}); %>
</ul>


<div class="accordion-item">
    <div class="accordion-header">
        <img src=Imagenes/targaryen.png" alt="House Targaryen" class="house-image">
        <h3>House Targaryen</h3>
    </div>
    <div class="accordion-content">
        <ul>
            <li>Personaje</li>
        </ul>
    </div>
</div>