<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Game of Thrones</title>
  <link rel="stylesheet" href="/style.css">  <!-- Cambiar a ruta absoluta -->
  <script src="/script.js"></script>           <!-- Cambiar a ruta absoluta -->
  <link href="https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-container">
        <h1><a href="/backhome">WIKI</a></h1>
          <nav>
            <ul>
              <li><a href="/search/<%= iterador %>">CARDS</a></li>
              <li><a href="/houses">HOUSES</a></li>
              <li><a href="/about">ABOUT</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <h1 class="titulo">ABOUT</h1>
    <h3>
        Welcome to the Game of Thrones Wiki, a realm where lore, legends, and history converge. This wiki is a tribute to the intricate world created by George R.R. Martin, filled with political intrigue, fierce battles, and the clash of noble houses. 
        From the frozen lands beyond the Wall to the sun-scorched deserts of Dorne, here you will find detailed entries about the Seven Kingdoms, their rulers, and the vast lore surrounding Westeros and Essos.
        Whether you're a maester seeking deep knowledge or a traveler yearning for tales of dragons and kings, our compendium holds the mysteries and truths of the known world. 
        Prepare yourself for a journey through the annals of time, where the past is as deadly as the present, and the future remains uncertain.<br>
        
        As we say in the North: Winter is Coming, and the game of thrones is eternal.
    </h3>
    <form action="/backhome" method="get">
        <button type="submit">Volver a Inicio</button>
    </form>
</body>
</html>
