<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Game of Thrones</title>
  <link rel="stylesheet" href="/style.css">  <!-- Cambiar a ruta absoluta -->
  <script src="/script.js"></script>           <!-- Cambiar a ruta absoluta -->
  <link href="https://db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones" rel="stylesheet">
</head>
<body>
  <header>
    <div class="nav-container">
      <h1>Wiki</h1>
      <nav>
        <ul>
          <li><a href="about">ABOUT</a></li>
          <li><a href="houses">HOUSES</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="hero-section">
    <h1 class="hero-text">Game of Thrones Wiki</h1>
    <img class="hero-image" src="/Imagenes/fondo.jpg" alt="Imagen de fondo"> <!-- Cambiar a ruta absoluta -->
  </div>
  
  <section class="nav-bar">
    <div class="search-container">
      <form action="/search" method="post">
          <input type="text" name="character" placeholder="Nombre del personaje">
          <button type="submit">Search</button>
      </form>
    </div>
  </section>
</body>
</html>
